@{
  Layout = "_Layout";
}

@model Library.Models.Patron

<h4>Add a new patron</h4>

@using (Html.BeginForm())
{
    <p>Patron's First Name
    @Html.TextBoxFor(model => model.PatronFirstName)</p>
    <br>
    <p>Patron's Last Name
    @Html.TextBoxFor(model => model.PatronLastName)</p>
<br><br>
    <input type="submit" value="Add new Patron" class="btn btn-outline-dark btn-block" /><br>
}
<br>
<p>@Html.ActionLink("Show all Patrons", "Index", null, null, new {  @class="btn btn-outline-dark btn-block"})</p>