@{
  Layout = "_Layout";
}

@model Library.Models.Author

<h4>Add a new Author</h4><hr>
<div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
    @using (Html.BeginForm())
{
    <p>Author Name: </p>
    @Html.TextBoxFor(model => model.AuthorName, new {@style="width:100%"})<br><br>
    

    <p>Select Genre: </p>
    @Html.DropDownList("GenreId", null, new {@class="form-control"})<br>
    <p>Don't see your genre? Add one <a href="/Genres/Create">here</a>.</p><br>

    <input type="submit" value="Add a new author" class="btn btn-outline-info btn-block" /><br>
}
<p>@Html.ActionLink("Show all Authors", "Index", null, null, new { @class = "btn btn-outline-dark btn-block"})</p>
    </div>
    <div class="col-sm">
    </div>
  </div>