@{
  Layout = "_Layout";
}

@model Library.Models.Genre

<h4>Add a new genre</h4><hr>
<div class="row">
    <div class="col-sm">
      @using (Html.BeginForm())
{
    <p>Name: </p>
    @Html.TextBoxFor(model => model.GenreName, null, new {@class="form-control"})<br>
    <p>Description: </p>
    @Html.TextBoxFor(model => model.GenreDescription, null, new {@class="form-control"})<br><br>
    <input type="submit" value="Add new genre" class="btn btn-outline-dark btn-block"/><br>
}
<p>@Html.ActionLink("Show all genres", "Index", null, null, new { @class="btn btn-outline-dark btn-block"})</p>
    </div>
    <div class="col-sm">
      
    </div>
    <div class="col-sm">
      
    </div>
  </div>